body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-image: url("fundook.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; /* Isso garantirá que a imagem cubra toda a área visível */
}

#vuMeterContainer {
  height: 100px;
  width: 30px;
  background-color: #e0e0e0;
  position: block;
  margin-top: 20px;
}

#vuMeter {
  height: 0%;
  background-color: #4caf50;
  width: 100%;
  position: absolute;
  bottom: 0;
}
#principal {
  margin: 1em;
  max-width: 50em;
  background-color: #0e0e0ede;
  border-radius: 20px;
  padding: 1em;

  box-shadow: -1px 1px 19px 0px #222222;
  -webkit-box-shadow: -1px 1px 19px 0px #222222;
  -moz-box-shadow: -1px 1px 19px 0px #222222;
  transition: padding 0.3s ease; /* Para transições suaves ao redimensionar a tela */
}

/* Estilos para desktop */
@media (min-width: 768px) {
  /* Ajuste 768px conforme necessário, é um valor comum para tablets */
  #principal {
    padding: 2em; /* Maior padding para desktops */
  }
}

/* Estilos para dispositivos móveis */
@media (max-width: 767px) {
  #principal {
    padding: 1em; /* Padding padrão para dispositivos móveis */
  }
}
#recordingDuration {
  color: #ffae00;
  font-size: 4.4rem;
}
.icon {
  height: 10em;
}
.recent-item {
  border-radius: 30px !important;
  font-weight: bolder;
  color: #00d9ff;
  background-color: rgba(
    255,
    0,
    0,
    0
  ); /* Um fundo levemente mais escuro para destacar */
}
.recent-item td:first-child::before {
  content: "🆕";
}
#recordingsList {
  border-radius: 20px !important;
  background-color: rgba(129, 0, 0, 0.349) !important;
  size-adjust: inherit !important;
}
table {
  width: 100%;
}
#recordingsList tr {
  opacity: 0;
  transition: opacity 0.5s;
}
#recordingsList ul {
  opacity: 0;
  transition: 0.5s ease-in-out;
  transition: padding 0.3s ease;
}
#recordingsList tr.show {
  opacity: 1;
  transition: padding 0.3s ease;
}
@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.pulse {
  animation: pulse 1s infinite ease-in-out;
}

.hidden {
  display: none;
}
#monitorButton {
  color: #ffffff;
}

#monitorButton:hover {
  color: #000;
}


#deleteAllButton:hover {
  color: #ececec !important;
  background-color: #da6363 !important;
  border: #000;
  text-shadow: 1px 1px 1px 1px #000000 !important;
}

#deleteAllButton {
  color: #ffffff !important;
  background-color: #000 !important;
  border: #da6363 solid 2px !important;
}
#recordButton {
 
}
#recordButton:hover {
  color: #ffffff;
  background-color: #1b1b1b;
}
#stopButton {
 
}
#stopButton:hover {
  color: #ffffff;
  background-color: #1b1b1b;
}