body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-image: url("fundook.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; /* Isso garantirá que a imagem cubra toda a área visível */
}

#vuMeterContainer {
  height: 100px;
  width: 30px;
  background-color: #e0e0e0;
  position: block;
  margin-top: 20px;
}

#vuMeter {
  height: 0%;
  background-color: #4caf50;
  width: 100%;
  position: absolute;
  bottom: 0;
}
#principal {
  margin: 1em;
  background-color: #0e0e0ede;
  border-radius: 20px;
  padding: 1em;
}
#recordingDuration {
  color: #ffae00;
  font-size: 2.4rem;
}
.icon {
  height: 10em;
}
.recent-item {
  border-radius: 30px !important;
  font-weight: bolder;
  color: #00d9ff;
  background-color: rgba(255, 0, 0, 0); /* Um fundo levemente mais escuro para destacar */
}
.recent-item td:first-child::before {
  content: "🆕";
}
#recordingsList {
  border-radius: 20px !important;
  background-color: rgba(129, 0, 0, 0.349) !important;
  size-adjust: inherit !important;
}
table {
  width: 100%;
}
#recordingsList tr {
  opacity: 0;
  transition: opacity 0.5s;
}
#recordingsList tr.show {
  opacity: 1;
}
